<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>Popular Courses</p>
    @{ var courses = new List<string>()
        {
            "Computer Science",
            "Data Science",
            "Cybersecurity"
        };
        <ul>
            @foreach(string course in courses)
            {
                <li>@course</li>
            }
        </ul>
    }
</body>
</html>
